<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewing Property in <%= @property.postcode %></title> 
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body> 
    <header>
      <h1>&#127968; MakersBnB &#127968;</h1>
    </header>
    
      <div>
       <div> <!-- button navigation -->
          <form action="/homepage" method='get'>
            <input type="submit" value='Homepage'>
          </form>
          <form action="/property/new" method="get">
              <button type="submit"> List a property </button>
          </form>
          <form action="/session/destroy" method='post'>
              <button type="submit"> Logout </button>
            </form>
        </div>

        <div>
          <% flash.keys.each do |type| %>
            <div data-alert class="flash <%= type %> alert-box radius">
              <%= flash[type] %>
              <a href="/property/<%= @property.id %>" class="close">&times;</a>
            </div>
          <% end %>        
        </div>

          <div class="prop_box_id"> 
           <strong> <h1 class="request_pt"> <%= @property.title%> </h1>
            <br>
              <div class="prop_description">Property Description: </div>
                <p class="pd_text">
                  <%= @property.description%>
               </p>
              <br>
            <div class="ppd_text">Property Price Per Night: </div>
               <p class="request_ppd">
                 £<%= @property.price_per_day%> per day
               </p>
          </div>
          
          <div class="rentform">
            <form action="/property/<%= @property.id %>" method='post' class="rent_form">
              <div class="start_text">Start Date: </div>
                <input type="date" id="start_date" name="start_date" class="start_rent">
              <div class="end_text">End Date: </div>
                <input type="date" id="end_date" name="end_date" class="end_rent">
              <input type="submit" value='Request rental' class="rent_button">
            </form>
         </div>

        <br>
        <div class="retable">
          <table style="width:100%" id='bookings_table' class="request_table">
            <tr class="table_title">
              <th>Start Date</th>
              <th>End Date</th>
              <th>Booking Status</th>
            </tr>
            <% if @bookings != nil %>
              <% @bookings.each do |booking|%>
                <tr class="table_des">
                  <td><%=booking.start_date%></td>
                  <td><%=booking.end_date%></td>
                  <td><%=booking.status%></td>
                </tr>
              <%end%>
            <%end%>
          </table>
        </div>
      </div>
    <footer>
      🦍 © In the AirBnB Tonight 🦍 | 
      <a href="https://github.com/MattDawson2020/in_the_airbnb_tonight">Project GitHub</a>
    </footer>
  </body>
</html>