<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to AirBnb</title>
</head>
<body>
  <h1>Welcome to MakersBnB </h1>
  <h2> Here are the available listings: </h2>
  <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
            <%= flash[type] %>
            <a href="/homepage" class="close">&times;</a>
        </div>
  <% end %>
  <form action="/session/destroy" method='post'>
    <input type="submit" value='Logout'>
  </form>
  <form action="/property/new" method="get">
    <button type="submit"> List a property </button>
  </form>

  <% @properties.each do |property| %>
    <%= property.title%>
    <%= "Property area: #{property.postcode} Property details #{property.description} "%>
    <br>
    <form action="/property/<%= property.id %>" method="get">
      <button type="submit"> View Property </button>
    </form>
  <% end %>
  <% if @request_messages %>
    <% @request_messages.each do |message| %>
      <%= "New Request: Someone has requested #{message.title} "%>
      <form action="/property/<%= message.property_id %>/confirm" method="post">
        <input type="hidden" name="message_id" value='<%=message.id%>'>
        <input type="hidden" name="sender_id" value='<%=message.sender_id%>'>
        <input type="hidden" name="booking_id" value='<%=message.booking_id%>'>
        <button type="submit"> Confirm request </button>
    </form>
    <% end%>
  <% end%>
  <% if @confirmed_messages%>
    <% @confirmed_messages.each do |message| %>
      <%= "Your request has been approved" %> <%# make message.confirmed message a join method and input name of property into confirmation%>
      <form action="/property/<%= message.property_id %>/accept_confirmation" method="post">
        <input type="hidden" name="message_id" value='<%=message.id%>'>
        <button type="submit"> Clear message and view property </button>
    </form>
    <% end%>
  <% end%>
  
</body>
</html>
