<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
      <div>
          <% flash.keys.each do |type| %>
            <div data-alert class="flash <%= type %> alert-box radius">
                <%= flash[type] %>
                <a href="/homepage" class="close">&times;</a>
            </div>
          <% end %>
        

        <div class="homepage_nav_buttons"> 
          <h1 class="header-left">&#127968; MakersBnB &#127968;</h1>
          <div class='header-right'>
            <form action="/session/destroy" method='post'>
              <button type="submit"> Logout </button>
            </form>
          </div>
          <div class='header-right'>
            <form action="/property/new" method="get">
              <button type="submit"> List a property </button>
            </form>
          </div>
        </div>

        <div class="home_box">
          <h2 class="property_listing_heading"> Listings </h2>
              <% @properties.each do |property| %>
               <p class="property_listing">
                <%= property.title%>
                <br>
                  <h4>Area:</h4>
                <br>
                <div class="property_listing">
                  <%= "#{property.postcode}"%>
                </div>
                <br>
                  <h4>Details:</h4>
                <br>
                <div class="property_listing">
                  <%= "#{property.description}"%>
                </div>
                </p>
              <form action="/property/<%= property.id %>" method="get">
                <input type="submit" value="View Property" class="view_property_button"> 
              </form>
              <% end %>
        </div>
      
        <div class="message_box">
          <h2 class="property_message_heading">&#128231; Messages &#128231;</h2>
            <% if @request_messages %>
              <% @request_messages.each do |message| %>
                <p class="request_message">
                <%= "New Request: Someone has requested #{message.title} "%>
                  <form action="/property/<%= message.property_id %>/confirm" method="post">
                    <input type="hidden" name="message_id" value='<%=message.id%>'>
                    <input type="hidden" name="sender_id" value='<%=message.sender_id%>'>
                    <input type="hidden" name="booking_id" value='<%=message.booking_id%>'>
                    <input type="submit" value="Confirm request" class="confirm_request_button">
                  </form>
                </p>
              <% end%>
            <% end%>
            <hr>
            <% if @confirmed_messages%>
            <% @confirmed_messages.each do |message| %>
              <p class="approved_message">
              <%= "Your request has been approved" %> <%# make message.confirmed message a join method and input name of property into confirmation%>
                  <form action="/property/<%= message.property_id %>/accept_confirmation" method="post">
                  <input type="hidden" name="message_id" value='<%=message.id%>'>
                  <input type="submit" value="Clear message" class="clear_button">
                  </form>
                </p>
              <% end%>
            <% end%>
        </div>
      </div>
  <footer>
     🦍 © In the AirBnB Tonight 🦍 | 
    <a href="https://github.com/MattDawson2020/in_the_airbnb_tonight">Project GitHub</a>
  </footer>
  </body>
</html>
