<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to AirBnb</title>
</head>
<body>
  <h1>Welcome to MakersBnB </h1>
  <h2> Here are the available listings: </h2>
  <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
            <%= flash[type] %>
            <a href="/homepage" class="close">&times;</a>
        </div>
  <% end %>
  <form action="/session/destroy" method='post'>
    <input type="submit" value='Logout'>
  </form>
  <form action="/property/new" method="get">
    <button type="submit"> List a property </button>
  </form>

  <% @properties.each do |property| %>
    <%= property.title%>
    <%= "Property area: #{property.postcode} Property details #{property.description} "%>
    <br>
    <form action="/property/<%= property.id %>" method="get">
      <button type="submit"> View Property </button>
    </form>
  <% end %>
  <% if @messages %>
    <% @messages.each do |message| %>
      <%= "New Request: Someone has requested #{message.title} "%>
      <form action="/property/<%= message.property_id %>/confirm" method="post">
      <button type="submit"> Confirm request </button>
    </form>
    <% end%>
  <% end%>
</body>
</html>
