<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
    <div class="container">
         <h1><em>&#127968; MakersBnB &#127968;</em></h1>
   </div>
</head>
<body>
<%# -------------- NAV BAR TRIAL CODE ---------------- %>
<%# LINKS CURRENTLY NOT WORKING (OBVIOUSLY - NOT CONNECTED VIA CONTROLLER) %>
  <ul>
    <li><a href="/homepage">Home</a></li>
    <li><a href="/property/new">List a Property</a></li>
    <li><a href="/session/destroy">Logout</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>

<%# -------------- NAV BAR TRIAL CODE ---------------- %>


  <h2> Listings: </h2>
  <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
            <%= flash[type] %>
            <a href="/homepage" class="close">&times;</a>
        </div>
  <% end %>
  <form action="/session/destroy" method='post'>
    <input type="submit" value='Logout'>
  </form>
  <form action="/property/new" method="get">
    <button type="submit"> List a property </button>
  </form>

  <% @properties.each do |property| %>
    <%= property.title%>
    <%= "Property area: #{property.postcode} Property details #{property.description} "%>
    <br>
    <form action="/property/<%= property.id %>" method="get">
      <button type="submit"> View Property </button>
    </form>
  <% end %>
  <% if @messages %>
    <% @messages.each do |message| %>
      <%= "Someone has requested #{@property.title} "%>
      <form action="/property/<%= property.id %>/confirm" method="post">
      <button type="submit"> Rent Property </button>
    </form>
    <% end%>
  <% end%>

<footer>
    <p>© Into the AirBnB Tonight 🦍 | 
    <a href="https://github.com/MattDawson2020/in_the_airbnb_tonight">Project GitHub</a></p>
  </footer>

</body>
</html>
